.bodyTr {
    background-color: #fff;
}

.bodyTr:nth-child(even) {
    background-color: #d3d3d3;
}

.bodyTd {
border: 2px solid #000;
padding: 8px;
}

.bodyTdType:first-letter {
    text-transform: uppercase;
}

