
.container {
    border: 3px solid #000;
    border-radius: 10px;
    width: 500px;
    padding-top: 20px;
    overflow: hidden;
    margin: 0 auto 40px;
}

.imgBox {
    background-color: #2a2a2a;
    border-radius: 50%;
    max-width: 180px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto 16px;
}

.name {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 10px;
}

.tag {
    font-size: 24px;
    color: #808080;
    margin-bottom: 4px;
}
.location {
    font-size: 24px;
    color: #808080;
    margin-bottom: 20px;
}

.list {
    display: flex;
    justify-content: center;
    border-top: 3px solid #808080;
    background-color: #d3d3d3;
}

.listItem {
    font-size: 24px;
    padding: 20px 10px;
    width: calc((100% - 6px) / 3);
}

.listItem:not(:last-child) {
    border-right: 3px solid #808080;
}

.listTitle {
    display: block;
}

.listValue {
    display: block;
    font-weight: 700;
}